@model BITCollege_Felipe_Rincon.Models.HonourState

@{
    /// details view copy, renamed and implementation of the Singleton Pattern to the project.
    /// HTML.ActionLink's removed
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>HonourState</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LowerLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LowerLimit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpperLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpperLimit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TuitionRateFactor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TuitionRateFactor)
        </dd>

    </dl>
</div>
<p>
   
</p>
